<html lang="en">
  <head>
    <!-- A PROJECT CREATED BY JAIRO CALDERON -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/account.css" />
    <title>The Imperfect Bank - Account</title>
    <script>
      const accountNumbInput = document.getElementbyId('account');
      const radioInputs = document.querySelectorAll('input[name="action"]');

      radioInputs.forEach((radioInput)=>{
          if(radioInput === "newAccount" && radioInput.checked){
            accountNumbInput.removeAttribute("required");
            accountNumbInput.disable = true;
            accountNumbInput.value="",

          }else{
            accountNumbInput.required = true;
            accountNumbInput.disable = false;
          }
        }
      )
    </script>
  </head>
  <body>
    {{>header}}
    <main>
      <div class="logo-placeholder">
        <img src="/bank.png" alt="Bank Logo" />
      </div>
      <div class="account-box">
        <h3>Menu</h3>
        <form id="transactionForm" method="post" action="/transaction">
          <input
            type="number"
            id="account"
            name="account"
            placeholder="Account Number"
            
          />
          <div class="radio-group">
            <label><input
                type="radio"
                name="action"
                value="balance"
                required
              />Balance</label>
            <label><input
                type="radio"
                name="action"
                value="deposit"
                required
              />Deposit</label>
            <label><input
                type="radio"
                name="action"
                value="withdraw"
                required
              />Withdraw</label>
            <label><input
                type="radio"
                name="action"
                value="newAccount"
              />Open a new account</label>
          </div>
          <button type="submit">Submit</button>
        </form>
        <p id="error-message" class="error-message">{{data.msg}}</p>
      </div>
    </main>
  </body>
</html>
