<html lang="en">
  <head>
    <!-- A PROJECT CREATED BY JAIRO CALDERON -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/account.css" />
    <title>The Imperfect Bank - Account</title>
  </head>
  <body>
    
    {{>header}}
    <main>
      <div class="logo-placeholder">
        <img src="/bank.png" alt="Bank Logo" />
      </div>
      <div class="account-box">
        <h3>Balance</h3>
        <p>Account Number: {{data.accNumb}}</p>
        <p>Account Type: {{data.accType}}</p>
        <p>Account Balance: {{data.accBal}}</p>
        <form id="transactionForm" method="post" action="/backToAccount">
          <button type="submit">OK</button>
        </form>
      </div>
    </main>
  </body>
</html>